.main{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.main .sec1{
	width:100%;
	display: flex;
}
.main .sec1 .photo-fundal{
	background-color:red;
	width:100vw;
	height:50vw;
	background-image:url(../imagini/noutati.jpg);
	background-size:100vw 50vw;
	background-position: center center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
}
.main .sec1 .photo-fundal .text-div p{
	color:white;
	font-family: font2;
	font-weight: bold;
	font-size:17px;
	line-height: 1.6;
	margin-top:20px;
}
.main .sec1 .photo-fundal .text-div{
	position: relative;
	width:38%;
	transform: translateX(-300px);
}
.main .sec1 .photo-fundal .text-div p:nth-child(1){
	border-bottom: 1px solid white;
	font-size:50px;
	margin-top:0;
	display: inline-block;
}
.main .sec2{
	width:60%;
	display: flex;
	flex-direction: column;

}
.main .sec2 p:nth-child(1){
	font-size:24px;
	align-self: center;
	text-align:center;
	margin-top:60px;
	font-family: font2;
	font-weight: bold;
	color:rgb(15,122,255);
	
}
.main .sec2 p:nth-child(2){
	margin-top:60px;
	font-family: font2;
	font-weight: bold;
	font-size:17px;
	line-height: 1.6;
}